{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{% static 'manifest.json'%}">
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        /* Add custom CSS for the list container and list items */
        .favorite-list {
            height: 400px;
            width: auto;
            overflow-y: auto; /* Enable scrolling if content overflows */
            border: 1px solid #ccc; /* Add a border for clarity */
            background-color: #cccccc;
        }

        .list-item {
            padding: 5px; /* Add padding between list items */
        }


        .custom-range::-moz-range-track {
            background-color: #007bff;
        }
        .custom-range::-ms-track {
            background-color: #007bff;
        }
    </style>
</head>
<body>
    <div class="container mt-5 mb-5 w-100">
        <button type="button" class="btn btn-danger float-end mb-5" onclick="onLogout()" >
            Logout
        </button>
    </div>


    <div class="container mt-5 mb-5 w-100 ">
            {% csrf_token %}
            <div class="input-group">
                <select class="form-control" id="dropdown" name="dropdown">
                    <option value="default">Select a country to search for its border</option>
                    {% for country in countries %}
                         <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button onclick="onSubmission()" type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

    </div>
    <div class="container mb-5"  style="height: 400px;">
        <div id="map" style="width: 100% !important; height: 100% !important;"></div>
    </div>

    <div class=" container alert alert-danger" id="errorMessage" style="display: none" role="alert">
        Place is already added
    </div>

    <div class="container d-flex flex-column flex-lg-row justify-content-between mb-5">

        <div id="favourite_list" class="container mx-2 mt-2 w-100 favorite-list rounded-1 p-4 bg-body-secondary">
            <div class="container d-flex flex-row align-items-center justify-content-between">
                <h5>Favorite List</h5>
            </div>
{#            {% for item in favourite_list %}#}
{#                <div id="{{ item.id }}" class="container d-flex flex-row list-item bg-light-subtle rounded-2 p-3 mb-3">#}
{#                    <div class="container">#}
{#                        <strong>{{ item.name }}</strong><br/>#}
{#                        <span class="float-right">{{ item.distance }}</span>#}
{#                    </div>#}
{#                    <div class="d-flex flex-row align-items-center float-end">#}
{#                        <svg onclick="onPlaceMark({{ item }})" class="mx-2" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512">#}
{#                            <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>#}
{#                        </svg>#}
{#                        <svg onclick="onDeleteFavouriteClick({{ item.id }}, {{ userid }})" class="mx-2"xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512">#}
{#                            <path d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/>#}
{#                        </svg>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor%}#}


        </div>
        <div id="nearby_attractions_list" class="container w-100 mx-2 mt-2 favorite-list rounded-1 p-4 bg-body-secondary">

            <div id="header" class="container d-flex flex-column flex-lg-row mt-1 align-items-center justify-content-between">
                <h5>Nearby attractions</h5>
                <h6 class="text-center">Radius: <span id="slider-value">500</span></h6>
                <input
                    type="range"
                    class="custom-range"
                    id="slider"
                    min="100"
                    max="1000"
                    step="10"
                    oninput="onInputSlider(this.value)"
                    onchange="onChangeSlider(this.value)"
                    >

            </div>
            <!-- Add more list items as needed -->
        </div>


    </div>
    {{ favourite_list }}
    <script type="text/javascript" src="{% static 'frontend/main-f7d9608d5d1f6b933b05.js' %}"></script>
    <script>

        const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
        const greenIcon = L.icon({
                iconUrl: "{% static 'images/leaf-green.png'%}",
                iconSize: [48, 48],
                iconAnchor: [22, 94],
                popupAnchor: [-3, -76],
            });
        const blueIcon = L.icon({
                iconUrl: "{% static 'images/leaf-blue.png'%}",
                iconSize: [48, 48],
                iconAnchor: [22, 94],
                popupAnchor: [-3, -76],
            });
        
        const map = L.map('map');
        
        let onAttractionsLoad = false;
        var attractionMakers = L.layerGroup();
        const slider = document.getElementById('slider');



        window.loadFavouriteList = function (){
            fetch("{% url 'world:favourite_list' userid %}", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrfToken
                },

            }).then(res => res.json()).then(result => {
                const data = result['data']
                localStorage.setItem("favouriteList", JSON.stringify(data));
                const div = document.getElementById("favourite_list")
                data.forEach(item => {
                    div.innerHTML += `
                        <div id="${item.id}" class="container d-flex flex-row list-item bg-light-subtle rounded-2 p-3 mb-3">
                            <div class="container">
                                <strong>${item.name }</strong><br/>
                                <span class="float-right">${ item.distance }</span>
                            </div>
                            <div class="d-flex flex-row align-items-center float-end">
                                <svg onclick="onPlaceMark(${item.id})" class="mx-2" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                                </svg>
                                <svg onclick="onDeleteFavouriteClick(${ item.id })" class="mx-2"xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512">
                                    <path d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/>
                                </svg>
                            </div>
                        </div>
                                `
                })

            });
        }

        window.initializeMap = function(){
            getLocation().then(result => {
                const location = JSON.parse(localStorage.getItem('location'));

                map.setView([location.latitude, location.longitude], 15);  // Set initial map coordinates and zoom level

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                }).addTo(map);

                // You can add more map customization or layers as needed
                map.on('click', function onMapClick(e) {
                    L.popup()
                        .setLatLng(e.latlng)
                        .setContent("You clicked the map at " + e.latlng.toString())
                        .openOn(map);
                });

                onGetAttractions(slider.value)
            });
        }


        window.loadData = function (){
            initializeMap();
            loadFavouriteList();
        }

        loadData();
        
        window.onInputSlider= function(value){
            document.getElementById('slider-value').textContent = value
        }
        
        window.onChangeSlider = function(value)  {
            onAttractionsLoad = true
            getLocation();
            onGetAttractions(value)
        }
        
         async function getLocation() {
            try {
                const position = await new Promise((resolve, reject) => {
                    navigator.geolocation.getCurrentPosition(resolve, reject);
                });
        
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                localStorage.setItem('location', JSON.stringify({
                    longitude: longitude,
                    latitude: latitude,
                }))

            } catch (error) {
                console.error("Error getting geolocation:", error);
            }
        }
        
        function onLogout () {
             // Perform the logout action here
             window.location.href = '{% url 'world:logout' %}';  // Replace 'custom_logout' with your logout URL
        };
        
        window.onSubmission = function(){
            const countryId = document.getElementById("dropdown").value;
            console.log(countryId)
            if (countryId !== "default"){
                const url = `{% url 'world:get_country_polygon' %}?countryId=${countryId}`;
        
                // Make an AJAX GET request to the server
                fetch(url, {
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrfToken
                    }})
                    .then(response => response.json())  // Assuming the server returns JSON
                    .then(data => {
                        // Process the server's response here
                        const polygon = data['item']
                        const longitude = polygon.properties.lon;
                        const latitude = polygon.properties.lat;
                        const point = {"lat": latitude, "lng": longitude}
                        const popup = L.popup()
                                    .setLatLng(point)
                                    .setContent(polygon['properties']['name'])
                                    .openOn(map);
                        map.setView([latitude, longitude], 7)
                        L.geoJSON(polygon).addTo(map)
        
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            }
        }
        
        function onGetAttractions(radius){
            const location = JSON.parse(localStorage.getItem('location'));

            fetch(`{% url 'world:get_attractions' %}?` + new URLSearchParams({
                    radius: radius,
                    lon: location.longitude,
                    lat: location.latitude
                }), {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrfToken
                    }
                })
                    .then(response => response.json())
                    .then(result => {
                        if (map.hasLayer(attractionMakers)){
                            attractionMakers.clearLayers()
                            map.removeLayer(attractionMakers)
                        }
                        const container = document.getElementById("nearby_attractions_list")
                        const header = document.getElementById("header")
                        const children = container.children;
                        const data = result['items']
        
                        for (let i = children.length - 1; i >= 0; i--) {
                            const child = children[i];
                            if (child !== header) {
                                container.removeChild(child);
                            }
                        }

                        localStorage.setItem('nearby_attractions', JSON.stringify(data));
                        const div = document.getElementById("nearby_attractions_list")
                        data.forEach(function(item, index){
                            const point = {"lat": item.lat, "lng": item.lon}
                            const popup = L.popup()
                                .setLatLng(point)
                                .setContent(item.name)
                                .openOn(map);
                            attractionMakers.addLayer(L.marker().setLatLng(point).setIcon(greenIcon).bindPopup(popup))
                            div.innerHTML += `
                                <div class="container d-flex flex-row list-item bg-light-subtle rounded-2 p-3 mb-3">
                                    <div class="container">
                                        <strong>${ item.name}</strong><br/>
                                        <span class="float-right">${ item.distance }</span>
                                    </div>
                                    <div class="d-flex flex-row align-items-center float-end">
                                        <svg onclick="onAddFavouriteClick(${item.id})" mx-2 xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    </div>
                                </div>
                            `
                        })
                        map.addLayer(attractionMakers)
                    })
        
        }
        
        
        window.onAddFavouriteClick = function(id){
            const storedData = localStorage.getItem('nearby_attractions');
            const parsedData = JSON.parse(storedData);
            const attraction = parsedData.find(item => item.id == id);
            fetch("{% url 'world:favourite_list' userid %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrfToken
                },
                // You can include a request body for POST requests
                body: JSON.stringify(attraction)
            }).then(res => {
                if (res.status === 409){
                    $("#errorMessage").fadeIn()

                    setTimeout(function (){
                        $("#errorMessage").fadeOut()
                    }, 2000)
                }
                else
                    addFavouriteItem(attraction)
            }).catch(err => addFavouriteItem(attraction))
        }

        window.addFavouriteItem = function(attraction){
            const list = JSON.parse(localStorage.getItem('favouriteList'))
            const item = list.find(item => item.id == attraction.id)

            if (item) return

            const newList = [ ...list, attraction]
            localStorage.setItem('favouriteList', JSON.stringify(newList))

            const div = document.getElementById("favourite_list")

            div.innerHTML += `
                <div id="${attraction.id}" class="container d-flex flex-row list-item bg-light-subtle rounded-2 p-3 mb-3">
                    <div class="container">
                        <strong>${attraction.name }</strong><br/>
                        <span class="float-right">${ attraction.distance }</span>
                    </div>
                    <div class="d-flex flex-row align-items-center float-end">
                        <svg onclick="onPlaceMark(${attraction.id})" class="mx-2" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                        </svg>
                        <svg onclick="onDeleteFavouriteClick(${ attraction.id })" class="mx-2"xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512">
                            <path d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/>
                        </svg>
                    </div>
                </div>
                        `
        }
        
        window.onDeleteFavouriteClick = function (id){
            const url = "{% url 'world:favourite_list' userid %}?placeid=" + id;
            fetch(url, {
                method: "DELETE",
                headers: {
                    "X-CSRFToken": csrfToken
                }
            }).then(response => response.json())
                .then(result => deleteFavouriteItem(id))
                .catch(err => deleteFavouriteItem(id))
        }

        window.deleteFavouriteItem = function (id){
            const list = JSON.parse(localStorage.getItem('favouriteList'))
            const newList = list.filter(item => item.id !== id)
            localStorage.setItem('favouriteList', JSON.stringify(newList))

            const divToRemove = document.getElementById(`${id}`);
            divToRemove.remove()
        }



        window.onPlaceMark = function(id){
            const list = JSON.parse(localStorage.getItem('favouriteList'));
            const attraction = list.find(item => item.id == id);
            const point = {"lat": attraction.lat, "lng": attraction.lon}
            const popup = L.popup()
                        .setLatLng(point)
                        .setContent(attraction.name)
                        .openOn(map);
            map.setView([attraction.lat, attraction.lon], 16)
            L.marker().setLatLng(point).setIcon(blueIcon).bindPopup(popup).addTo(map)
        }

    </script>
    <!-- Add Bootstrap JS and jQuery (for dropdowns, modals, etc.) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>
